@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  overflow: hidden;
  color: white;
}

/* p {
  width: fit-content;
  padding: 10px;
  animation: color-change 2.5s linear infinite;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 250px;
  cursor: pointer;
} */

.center {
  text-align: center;
}

.click {
  position: absolute;
  right: 15px;
  top: 10px;
  border-width: 2px;
  padding: 10px;
  background-color: rgba(255, 192, 203, 0.726);
  color: white;
  font-weight: bold;
  cursor: pointer;

}

section {
  position: relative;
  background-color: black;
}

svg {
  position: absolute;
  width: 200px;
  fill: pink;
}

#blob {
  border-radius: 10px;
  background-color: black;
  margin: 0;
  padding: 0;
  width: 200px;
  padding-left: 6px;
  margin-top: 250px;
  animation: color-change 2.5s linear infinite;
  transition-duration: 9s;
  transition-property: transform;
}

.roller {
  transform: rotate(1080deg);
  -webkit-transform: rotate(1080deg);
}

@keyframes color-change {
  0% {
    background-color: black;
  }
  50% {
    background-color: rgba(255, 192, 203, 0.853);
  }
  100% {
    background-color: black;
  }
}

@media (max-width: 768px) {
  svg {
    width: 150px;
  }
}