@import url("https://fonts.googleapis.com/css?family=Pacifico");

body {
    background-image: linear-gradient(to top, #da22ff, #9733ee);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    color: transparent;
    overflow: hidden;
}

.container {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hello {
    font-family: "Pacifico", cursive;
    font-size: 70px;
    background-clip: text;
    color: #da22ff;
    text-align: center;
    opacity: 0;
    animation: hello 2s 0.8s forwards;
}

.speech_bubble {
    width: 625px;
    height: 220px;
    background: #fff;
    position: relative;
    margin: auto; 
    border: 10px solid #fff;
    border-radius: 200px;
    text-shadow: 4px 7px 0px #e3e3e3;
    animation: pop 2s ease-in;
}

.speech_bubble:after {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 50px solid #fff;
    content: "";
    top: 210px;
    position: absolute;
    left: 100px;
    right: 0;
    margin: auto;
    animation: move 0.8s ease;
  }

  .em-hand {
    font-size: 55px;
    text-align: center;
    margin: 0.5em 0.5em 1em;
    filter: drop-shadow(4px 7px 0px #e3e3e3);
    animation: wave 0.4s linear alternate infinite;
    transform-origin: 50% 100%;
  }

  @keyframes wave {
      0% {
          transform: rotate(-30deg);
      }
      100% {
          transform: rotate(10deg);
      }
    }

    @keyframes pop {
        0% {
            width: 10%;
        }
        40% {
            width: 150%;
        }
        80% {
            width: 90%;
        }
    }
    
    @keyframes move {
        0% {
            top: 50px;
            left: -10px;
        }
        50% {
            left: 50px;
        }
        100% {
            left: 100px;
        }
    }

    @keyframes hello {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }


  