@model HVK.Models.Pet
<main>
<div class="text-center">
<h1 class="display-4">Manage Pet</h1>
@Html.ActionLink("Back To Home", (ViewBag.Type == "employee" ? "EmployeeHome" : "CustomerHome"), "Hvkuser")
<p>This page is under construction</p>
    </div>
</main>