@import url("https://fonts.googleapis.com/css?family=Orbitron|Press+Start+2P");

::selection {
  background-color: #5e888e;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  min-height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.8em;
  background-image: url("../media/pixel-rain-abstract-background_23-2148367882.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  color: aliceblue;
  margin: 0;
}

form {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.1em;
  width: 420px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  border-radius: 15px;
  background-color: rgba(10, 72, 81, 0.619);
  backdrop-filter: blur(5px);
  border: 2px solid white;
  padding: 15px;
}

header {
  font-size: 2em;
  font-family: "Press Start 2P", "Domine", "Roboto", sans-serif;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: #99e5d6;
  padding: 14px;
  margin: 0;
}

#btns {
  text-align: right;
}

label:not(#boxes label) {
  font-weight: bold;
  color: #aadfd5;
  margin-bottom: 0;
}

div {
  background-color: rgb(10, 72, 81);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px black;
  overflow: auto;
  display: none;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
}

div p:nth-child(2) {
  font-family: "Press Start 2P", "Domine", "Roboto", sans-serif;
  font-size: 1.1em;
  margin: 0;
}

div p:not(:nth-child(2)) {
  font-weight: bold;
  font-size: 1.05em;
  color: rgb(202, 218, 232);
  margin: 0;
}

div p:nth-child(4) {
  color: aquamarine;
  margin-top: 10px;
}

div p:nth-child(5) {
  color: rgb(255, 0, 132);
}

div p:nth-child(6) {
  color: #99dbe5;
}

div p:last-child {
  margin-top: 0px;
  margin-bottom: 2px;
  float: right;
  background-color: #131212;
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
  border-radius: 3px;
  padding: 9px;
}

div img {
  border-radius: 5px;
  margin-right: 10px;
  float: left;
}

div a {
  color: #99dbe5;
  text-decoration: none;
}

div a:hover {
  color: azure;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 12px;
  z-index: 1;
}

.error {
  display: none;
  font-weight: bold;
  color: rgb(255, 96, 96);
}

#blank {
  text-align: center;
  margin-bottom: 0;
}

@media all and (min-width: 768px) {
  header {
    position: fixed;
    width: 100%;
    padding: 25px;
    z-index: 1;
    top: 0;
  }

  form {
    width: 590px;
    margin-top: 90px;
  }

  footer {
    top: 0;
  }

  #blank {
    text-align: left;
  }
}